#festival_bio {
	p {
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.staff {
	display: flex;
	flex-flow: row wrap;
}

.staff-member {
	flex: 1 0 33.33%;
	padding: 2.5%;
	padding-bottom: 0;
}

@media all and (max-width: 480px) {
	.staff-member {
		flex: 1 0 100%;
		padding: 2.5%;
		// border: 1px solid yellow;
		&:last-child {
			padding-bottom: 0;
		}
	}
}

.staff-name, .staff-title {
	text-align: center;
}

.staff-image > img {
	width: 100%;
	border-radius: 50%;
}


ul.members {
	display: flex;
	flex-flow: row wrap;
	padding: 0;
	margin:0;
}

.board_member {
	flex: 1 0 200px;
	padding: 2.5%;
	list-style-type: none;
	text-align: center;
	&:last-child {
		padding-bottom: 0;
	}
}