.blog-post {
	border: .2rem solid #004b00;
	margin: 15px;
	text-align: center;
	box-shadow: 1.5px 1.5px 3px #888;
	text-shadow: .5px .5px .5px #888;
}
.blog-post-introduction, .blog-post-question-answer, .blog-post-conclusion {
		text-align: left;
	}
.blog-post-title h1 {
	font-family: Montserrat,sans-serif;
	font-size: 4.2rem;
	line-height: 3.8rem;
	text-transform: uppercase;
	padding: 0;
}

.blog-post-sub-title p {
	font-family: Montserrat,sans-serif;
	font-size: 2.5rem;
	line-height: 2rem;
	padding: 0;
	text-transform: uppercase;
}

p {
	font-family: "Open Sans",sans-serif;
	font-size: 2.3rem;
	font-weight: 700;
}

.blog-post-title, .blog-post-sub-title, .blog-post-image, .blog-post-introduction, .blog-post-question-answer, .blog-post-conclusion {
	padding: 30px;
	margin: 0 45px;
}
.blog-post-introduction {
	padding-top: 0;
}
.blog-post-title {
	padding: 0 30px;
}
.blog-post-sub-title {
	padding-top: 15px;
}
.blog-post-image {
	padding-top: 0;
}
.blog-post-image img {
	max-width: 100%;
	border: .2rem solid #004b00;
	box-shadow: 1.5px 1.5px 3px #888;
}

.blog-post-question {
	padding-bottom: 15px;
}
.blog-post-answer {
	padding-bottom: 30px;
}

.blog-post-introduction, .blog-post-question-answer {
	border-bottom: .2rem solid #004b00;
}
.blog-post-answer:last-child {
		padding-bottom: 0;
}

// Blog Posts

.blog-posts-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}