#newsletter-thank {
	display: none;
}

.contact_details {
	display: flex;
	flex-flow: row wrap;
	p {
		a {
			font-weight: 700;
		}
	}
}

.social_sponsorship, .newsletter_survey {
	flex: 1 0 375px;
}

.social_sponsorship {
	border-right: .2rem solid darken(darkgreen, 5%);
	padding-right: 2%;
}

.newsletter_survey {
	padding-left: 2%;
}

.sponsorship {
	margin-top: 2.75%;
}

.screenings {
	margin-top: 2.75%;
	p {
		margin-top: 1%;
		text-align: center;
	}
}

.survey {
	margin-top: 2.75%;
}

.social {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 2.4rem;
	}
}

.contact_details, .screenings {
	p {
		font-size: 2rem;
	}
}

.mailchimp {
	
	.news-question {
		margin-top: 1%;
		&:first-child {
			margin-top: 0;
		}
		label {
			@include page-paragraph;
			font-weight: 700;
			text-align: left;
		}

		input {
			display: block;
			border-radius: 5px;
			width: 100%;
			font-size: 1.6rem;
			padding: 5px;
			@include page-paragraph;
			outline: none;
			border: none;
			margin-top: .5%;
		}
	}
	#newsletter-thank {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin: 2.75%;
		font-family: $main;
		font-size: 2.5rem;
	}

	button {
		&:first-child {
			margin-top: 0;
		}
	}
}

@media all and (max-width: 789px) {
	.contact_details {
		p {
			text-align: center;
		}
	}


	.newsletter_survey {
		margin-top: 2.75%;
	}


	.social_sponsorship, .newsletter_survey {
		flex: 1 0 100%;
	}

	.social_sponsorship {
		border-right: 0px;
		padding-right: 0;
		.social {
			ul {
				li {
					text-align: center;
					margin-top: 1%;
				}
			}
		}
	}

	.newsletter_survey {
		padding-left: 0;
	}
}