.sc-uea-container {
	margin-top: 3%;
	input {
		display: block;
		border-radius: 5px;
		width: 100%;
		font-size: 1.6rem;
		padding: 5px;
		@include page-paragraph;
		outline: none;
		border: none;
		margin-top: .5%;
	}
}

.sc-uea-currency-after {
	display: none;
}

.parsley-errors-list {
	list-style-type: none;
	padding: 0;
	margin-top: 2%;
	margin-bottom: 0;
	@include page-paragraph;
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.donation {
	h3 {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin: 2.5%;
		font-family: $main;
		font-size: 3rem;
	}
}