.onsite-event-title h3 {
	font-size: 4.81rem;
}

.onsite-short-film h3 {
	font-size: 3.31rem;
}
.onsite-event-short-film h4 {
	text-align: left;
}
.onsite-event-short-film:nth-child(n+2) h4{
		display: none;
	}

.event-short-films {
	flex-flow: column wrap;
}

a.shomi {
	// font-size: 2.8rem;
}

// Responsive - Start
@media (max-width: 1000px) {
	.onsite-event-short-film h4 {
		font-size: 2.1rem;
		text-align: center;
	}
	.onsite-event-short-film h3 {
		font-size: 2.3rem;
	}
	.onsite-event-feature h3 {
		font-size: 3.2rem;
	}
	.onsite-overview-poster-flex-left {
		border-bottom: 0rem;
	}
}
@media (max-width: 790px) {
	.onsite-details-flex-right {
		border-top: 0rem; 
	}
	.stranded-details-flex-right {
		border-top: 0rem solid darken(darkgreen, 5%); 
	}

}
@media (max-width: 480px) {}
// Responsive - End