
// General CSS - Start
.film {
	margin: 15px;
	// padding: 0;
	border: .2rem solid darken(darkgreen, 5%);
	box-shadow: 2px 2px 2px #bbb;
	p {
		@include page-paragraph;
		text-align: left;
		text-transform: none;
		text-shadow: 1px 1px 1px #ccc;
	}
	.event-poster img, .event-trailer {
		box-shadow: 1px 1px 1px #bbb;
	}
	.map-poster img {
		box-shadow: none;
	}
	h3, h4, a {
		text-shadow: 1px 1px 1px #bbb;
	}
}
.bottom-border {
	border-bottom: .2rem solid darken(darkgreen, 5%);
	// padding-bottom: 15px;
	padding-bottom: 1.8%px;
}
// General CSS - End

// Flexbox - Start
.event-short-films, .event-co-presenter, .event-food-vendor, .event-presenting-sponsors {
	flex-flow: row wrap;
}
.trailer-facebook-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.details-flex {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}
.details-flex-right {
	width: 50%;
	border-left: .2rem solid darken(darkgreen, 5%); 
}
.overview-poster-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
div.overview-poster-flex-left {
	width: 70%;	
}
div.overview-poster-flex-right{
	width: 30%;	
}
div.details-flex-left {
	width: 60%;
}
div.details-flex-right {
	width: 40%;
}
// Flexbox - End

// Images - Start
.event-food-vendor-logo a, .event-presenter-logo a, .event-co-presenter-logo a {
	img {
		display: block;
		margin: 0 auto;
	}
}
.co-presenter-nosferatu div:nth-child(2) {
	img {
		max-width: 32.5%;
	}
}
// Images - End

// Event-Title - Start
.event-title h4{
	text-align: left;
}
.event-title h4 {
	padding-bottom: 10px;
}
.event-title h3 {
	font-size: 5rem;
}
// Event Title - End

// Event-Overview - Start
.event-overview p {
	font-size: 2.3rem;
	padding: 15px 0;
	width: 90%;
}
.italic {
	font-style: italic;
}
// Event-Overview - End

// Films Page Link - Start
.films-page-link {
	@include sponsor-partner;
	text-align: right;
	text-shadow: 1px 1px 1px #ccc;
	a {
		padding-right: 45px;
	}

}
// Films Page Link - Start

// Poster - Start
.poster-flex {
	// width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}
.event-poster {
	display: flex;
	justify-content: center;
}
.event-poster a {
	padding-left: 15px;
}
.event-poster-credit p {
	text-align: center;
	font-size: 1rem;
	padding-top: 2.5px;
}
// Poster - End

// Map - Start
.map-poster {
	padding-top: 15px;
	padding-left: 15px;
}
.map .poster-flex {
	margin: 0 auto;
}	

// Map - End

// MAP and Presenter - Start
.disable-click, div.disable-supporter-logo:nth-child(3) {
    pointer-events: none;
}
// MAP and Presenter - End

// Feature - Start
.event-feature h3 {
	font-size: 4.1rem;
	// font-size: 8.5rem;
	line-height: 4.0rem;
	// line-height: 8.25rem;
}
.event-feature {
	margin-bottom: 0;
}
// Feature - End

// Short - Start
.event-short-film {
	padding: 0;
	p {
		font-size: 1.8rem;
		font-weight: 700
	}
	// h4 {
	// 	text-align: left;
	// }
}
.event-short-films {
	padding-top: 15px;
}
.event-shorts {
	margin-top: 0;
}
.event-short-film h3:nth-child(n+2) {
	padding-top: 15px;
}
.event-short-film h3 {
	font-size: 2.7rem;
	// font-size: 5rem;
	line-height: 2.7rem;
	// line-height: 4.5rem;
}
// Short - End

// Details - Start
.details p {
    font-size: 1.8rem;
    font-weight: 700;
}
// Details - End

// Co-Presenter - Start
.event-co-presenter {
	padding-top: 15px;
}
// Co-Presenter - End


// Food Vendor + Co-Presenter - Start
div.event-food-vendor-logo {
    flex: 1 0 220px;
    margin: 7.5px 0;
}
div.event-co-presenter-logo {
    flex: 1 0 300px;
    margin: 7.5px 0;
}

.event-co-presenter {
	align-items: center;
}
// Food Vendor + Co-Presenter - End

// Food Vendor + Presenter + Co-Presenter - Start
div.event-food-vendor-logo, div.event-presenter-logo, div.event-co-presenter-logo {
	padding: 0;
}
.event-food-vendor, .event-presenting-sponsors, .event-co-presenters {
	align-items: center;
}
.event-presenter-logo, .event-food-vendor {
	margin: 0;
	margin-top: 15px;
}
// Food Vendor + Presenter + Co-Presenter - End

// Responsive - Start

// 1000px Width - Start
@media (max-width: 1000px) {
	.details-list li p {
		font-size: 1.6rem;
	}
	.event-food-vendor, .event-presenter, .event-co-presenter { 
		p {
			font-size: 1.6rem;
		}
	}
	.event-date h4{
		font-size: 2.25rem;
		line-height: 1.875rem;
	}
	.event-feature h3 {
		font-size: 3.9rem;
    	line-height: 3.98rem;
	}
	.event-short-film h3 {
		font-size: 2.1rem;
		line-height: 3.3rem;
	}

	.support-nosferatu {
		div {
			padding-bottom: 15px;
		}
		div:last-child {
			padding-bottom: 0;
		}
	}
	div.overview-poster-flex-left, div.overview-poster-flex-right{
		width: 100%;	
	}
	.event-overview p {
		font-size: 2.1rem;
	}
	.event-facebook-event {
		font-size: 3rem;
	}
	.event-feature h3, .event-short-film h3, .event-title h3, .event-title h4 {
	    text-align: center;
	}
	.event-short-film {
		margin: 0 auto;
	}
	.event-overview {
		display: initial;
		align-items: center;
		p {
			width: 90%;
			margin: 0 auto;
		}
	}
	.overview-poster-flex-left {
		border-bottom: .2rem solid darken(darkgreen, 5%);
	}
	.event-poster a {
		padding-left: 0px;
	}
}

// 790px Width - Start
@media (max-width: 790px) {
	div.details-flex-left, div.details-flex-right {
		width: 100%;
	}
	.details-flex-right {
		border-left: none; 
		border-top: .2rem solid darken(darkgreen, 5%); 
	}
	
	.event-food-vendor-logo  {
		max-width: 100%;
	}
	.event-food-vendor, .event-presenter, .event-co-presenter {
		div {
			padding-bottom: 15px;
		}
		div:last-child {
			padding-bottom: 0;
		}
	}
}

// 480px Width - Start
@media (max-width: 480px) {
	.event-feature h3 {
		font-size: 3rem;
	}
	.event-short-films {
// CHANGED FOR MUSTANG "WITH SHORT FILMS" TITLE
		padding-top: 15px;
	}
	.event-overview p {
		font-size: 1.8rem;
		width: 95%;
	}
}
// 480px Width - End

// Responsive - End
