// Updated CSS - Start

.short-film {
	flex: 0 1 auto;
	margin: 0;
}
.title-headline {
	h2{
		text-align: left;
	}
	p {
    	font-size: 1.6rem;
    }
    border-bottom: none;
 	text-shadow: 1px 1px 1px #ccc;
}


// Updated CSS - End

// New CSS - Start

.films {
	border: .2rem solid darken(darkgreen, 5%);
	margin: 10px;
	// margin: 5px;
	width: 47%;
	// width: 31%;
	box-shadow: 2px 2px 2px #bbb;
	img {
		box-shadow: 1px 1px 1px #bbb;
	}
	h3, h4 {
		text-shadow: 1px 1px 1px #bbb;
	}
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.poster img{
	max-width: 100%;
	border: .2rem solid darken(mediumseagreen, 5%);
	transition: border 500ms;
	&:hover {
		border: .2rem solid darken(darkgreen, 5%);
	}
}
.main-header {
	text-align: right;
	margin-top: 20px;
	padding-top: 20px;
	text-shadow: 1px 1px 1px #ccc;
	border-top: .2rem solid darken(darkgreen, 5%);
	p {
		font-size: 1.3rem;
	}
}
.title-headline {
	border-bottom: .2rem solid darken(darkgreen, 5%); 
	margin-bottom: 20px;
	padding-bottom: 20px;
}

// Responsive - Start

@media (max-width: 1492px) {
	.films {
		width: 47%;
		margin: 10px;
	}
}
@media (max-width: 1000px) {
	.feature h3 {
		font-size: 4.25rem;
		// font-size: 8.5rem;
		line-height: 4.125rem;
		// line-height: 8.25rem;
	}
	.short-film h3 {
		font-size: 2.5rem;
		// font-size: 5rem;
		line-height: 2.25rem;
		// line-height: 4.5rem;
	}
	.date h4{
		font-size: 1.5rem;
		// font-size: 3rem;
		line-height: 1.25rem;
		// line-height: 2.5rem;
	}
}
@media (max-width: 790px) {
	.films {
		width: 47%;
		margin: 6px;
	}
	.feature h3 {
		font-size: 2.83rem;
		// font-size: 8.5rem;
		line-height: 2.75rem;
		// line-height: 8.25rem;
	}
	.short-film h3 {
		font-size: 1.66rem;
		// font-size: 5rem;
		line-height: 1.5rem;
		// line-height: 4.5rem;
	}
	.date h4{
		font-size: 1rem;
		// font-size: 3rem;
		line-height: 0.83rem;
		// line-height: 2.5rem;
	}
	.films {
		margin: 7px;
	}
}
@media (max-width: 480px) {
	.films {
		width: 47%;
		margin: 5px;
	}
}
// Responsive - End

// New CSS - End
