.date, .event-info, .feature, .live-music, .shorts, .presenting-sponsors, .co-presenters, .food-vendors, .trailer, .show-hide, .facebook-event {
	margin: 15px 0;
}

.title-headline {
	p {
		margin-top: 1.5%;
		font-size: 2rem;
	}
	border-bottom: .2rem solid darken(darkgreen, 5%);
	padding-bottom: 1.5%;
}

.date {
	margin-top: 0;
}

.event-info {
	margin-top: 0;
	margin-bottom: 0;
}

.live-music {
	margin-top: 0;
}

.facebook-event {
	margin-bottom: 0;
}

.presenter-logo, .co-presenter-logo, .food-vendor-logo  {
	text-align: center;
	margin: 2.5%;
	margin-top: 1%;
}

.presenter-logo {
	img {
		max-width: 100%;
	}
}

.co-presenter-logo {
	img {
		max-width: 65%;
	}
}

.food-vendor-logo {
	img {
		max-width: 45%;
	}
}

.short-films, .co-presenter, .food-vendor {
	display: flex;
	flex-flow: row wrap;
}
.short-film, .co-presenter-logo, .food-vendor-logo {
	flex: 1 0 393px;
	padding: 2.75%;
	padding-top: 1%;
	// border: 1px solid yellow;
	margin: auto;
	&:last-child {
		// padding-bottom: 0;
	}
}

@media all and (max-width: 480px) {
	.short-film, .co-presenter-logo, .food-vendor-logo {
		flex: 1 0 100%;
	}
}



//Facebook event link - start
.facebook-event {
	text-align: center;
	font-size: 4rem;
}
//Facebook event link - end


//Responsive Trailer - start
.trailer { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}
.trailer iframe, .trailer object, .trailer embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//Responsive Trailer - end