// COMING SOON CSS End - Start
div.coming-soon-title-headline {
	h2 {
		font-family: 'Rajdhani', sans-serif;
		font-size: 6rem;
	}
	justify-content: center;
	padding-bottom: 0;
}
// COMING SOON CSS TEMP - End


// Updated CSS - Start

.short-film {
	flex: 0 1 auto;
	margin: 0;
}
.title-headline {
	h2{
		text-align: left;
		text-transform: uppercase;
	}
	p {
    	font-size: 2.6rem;
    }
    &>p{
    	margin-bottom: 15px;
    }
    border-bottom: none;
 	text-shadow: 1px 1px 1px #ccc;
}

// Updated CSS - End

// New CSS - Start

.date h4:nth-child(2) {
	padding-top: 15px;
}

.stranded-in-cp {
	font-weight: 800;
	font-style: italic;
}
.films {
	border: .2rem solid darken(darkgreen, 5%);
	margin: 10px;
	// margin: 5px;
	width: 47%;
	// width: 31%;
	box-shadow: 2px 2px 2px #bbb;
	img {
		box-shadow: 1px 1px 1px #bbb;
		display: block;
		margin: 0 auto;
	}
	h3, h4 {
		text-shadow: 1px 1px 1px #bbb;
	}
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.poster img{
	max-width: 100%;
	margin-top: 15px;
}
.main-header {
	text-align: right;
	text-shadow: 1px 1px 1px #ccc;
	p {
		font-size: 2.1rem;
	}
}
.title-headline {
	border-bottom: .2rem solid darken(darkgreen, 5%); 
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.title-headline-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-top: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-top: .2rem solid darken(darkgreen, 5%);
}

.align-films-details {
	.date h4, h3 {
		text-align: center;
	}
}

// Responsive - Start

@media (max-width: 1492px) {
	.films {
		width: 47.8%;
		margin: 10px;
	}
}
@media (max-width: 1000px) {
	.films {
		width: 47.3%;
		margin: 10px;
	}
	.feature h3 {
		font-size: 4.25rem;
		// font-size: 8.5rem;
		line-height: 4.125rem;
		// line-height: 8.25rem;
	}
	.short-film h3 {
		font-size: 2.5rem;
		// font-size: 5rem;
		line-height: 2.25rem;
		// line-height: 4.5rem;
	}
	.date h4{
		font-size: 2.1rem;
		// font-size: 3rem;
		line-height: 1.25rem;
		// line-height: 2.5rem;
	}
	.main-header p {
		font-size: 1.6rem;
	}
	.title-headline h2 {
		font-size: 3.9rem;
	}
    .align-films-details {
		.date h4, h3 {
			text-align: left;
		}
	}
}
@media (max-width: 790px) {
	.films {
		width: 90%;
		margin: 5px;
		// width: 46.9%;
		// margin: 2px;
	}
	.feature h3 {
		font-size: 4.25rem;
		// font-size: 8.5rem;
		line-height: 4.125rem;
		// line-height: 8.25rem;
	}
	.short-film h3 {
		font-size: 2.9rem;
		// font-size: 5rem;
		line-height: 2.65rem;
		// line-height: 4.5rem;
	}
	.date h4{
		font-size: 2.1rem;
		// font-size: 3rem;
		line-height: 1.25rem;
		// line-height: 2.5rem;
	}
	.films {
		margin: 7px;
	}
	.title-headline h2 {
		font-size: 4rem;
		line-height: 3.5rem;
	}
	.title-headline p {
    	font-size: 1.9rem;
    }
	div.main-header {
		display: none;
	}
	.align-films-details {
		.date h4, h3 {
			text-align: center;
		}
	}
}
@media (max-width: 480px) {
	.films {
		width: 90%;
		margin: 5px;
	}
	.feature h3 {
		font-size: 4.25rem;
		// font-size: 8.5rem;
		line-height: 4.125rem;
		// line-height: 8.25rem;
	}
	.short-film h3 {
		font-size: 2.6rem;
		// font-size: 5rem;
		line-height: 2.25rem;
		// line-height: 4.5rem;
	}
	.date h4{
		font-size: 2.1rem;
		// font-size: 3rem;
		line-height: 1.25rem;
		// line-height: 2.5rem;
	}
	.title-headline h2 {
		font-size: 3rem;
		line-height: 2.5rem;
	}
	.title-headline p {
    	font-size: 2.1rem;
    }
    .align-films-details {
		.date h4, h3 {
			text-align: left;
		}
	}
}
// Responsive - End

// New CSS - End
