// Sticky Footer - start
	html {
		margin-top: 0 !important;
	}

	body {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
	}

	main {
		flex: 1;
	}
// Sticky Footer - end

// footer - start
	footer {
		background: white;
	}
// footer - end

// Footer font - start
	footer {
		color: #999;
		text-align: center;
		padding: 1rem;
		font-size: 1.0rem;
	}
// Footer font - end

// footer-reel - start
	.footer-reel {
		width: 20px;
		fill:#999;
		margin-bottom: 2px;
	}
// footer-reel - end