//News Entry - start
	article {
		margin-bottom: 3.0rem;
	}

	// Old + New Entries - start
		.alignleft {
			float: left;
		}

		.alignright {
			float: right;
		}

		.alignleft, .alignright {
			margin-top: 2.0rem;
		}
	// Old + New Entries - end


	// News Footer - start
	article > footer {
		display: none;
	}
	// News Footer - end

//News Entry - end


// Website Opening - start
	.lrg-bg {
		background: salmon;
		width: 100%;
		height: 100vh;
		margin-bottom: 1.0rem;
		
	}
// Website Opening - end


