// _HOME.SCSS UPDATED _HOME.SCSS UPDATED _HOME.SCSS UPDATED _HOME.SCSS UPDATED _HOME.SCSS UPDATED _HOME.SCSS UPDATED _HOME.SCSS UPDATED

    #info {
	border-bottom: .2rem solid #004b00;
}
h1.stranded-programTitle {
	font-family: Rajdhani,sans-serif;
    opacity: 1;
    text-transform: uppercase;
    color: #1E582C;
    font-size: 6.275rem;
    text-align: center;
    line-height: 6.0875rem;
}
.news .story:nth-child(odd) {
	background: darken(ivory, 2.5%);
}

.tops-presented-by, .presents-program-title, .cpff-program-title, .shomi-banner {
    margin-top: 20px;
}

.lrg-bg div.presents-program-title h3{
    font-size: 2.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.home-shomi {
    background: #2c0251;
}
.shomi-banner {
    margin-bottom: 30px;
    width: 40%;
    border-radius: 10px;
}
.leadSponsor-shomi img {
    display: block;
    margin: 0 auto;
    padding: 30px 0 20px;
}
div.program-title h1.home-cpff {
    font-size: 8.375rem;
    text-align: center;
    line-height: 8.1875rem;
    text-transform: initial;
}
.home-news {
    padding-bottom: 1.5%;
    h2 {
       line-height: 2.8rem;
    }
    article.story div.container {
        padding: 0 2.5%;
    }
}
section.news, section#info {
    margin: 0 30px;
}
main.home-home {
    background: #ffffe3;
}

#info.home-info h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.6rem;
    font-weight: 700;
}

// Responsive - Start
@media (max-width: 1000px) {
    .tops-presented-by, .presents-program-title, .cpff-program-title, .shomi-banner {
        margin-top: 10px;
    }
    .home-shomi-container {
        padding: 0 10%;
    }
}
@media (max-width: 790px) {
    #info.home-info h3 {
        font-size: 2.1rem;
    }
    .home-news {
        article.story div.container h3 {
            font-size: 2.1rem;
        }
    }
}
@media (max-width: 480px) {
    div.program-title h1.home-cpff {
        font-size: 7.375rem;
        line-height: 7.1875rem;
    }
    h1.stranded-programTitle {
        font-size: 5.275rem;
        line-height: 5.0875rem;
    }
}
// Responsive - End