//News Entry - start
	article {
		margin-bottom: 3.0rem;
	}

	// Old + New Entries - start
		.alignleft {
			float: left;
		}

		.alignright {
			float: right;
		}

		.alignleft, .alignright {
			margin-top: 2.0rem;
		}
	// Old + New Entries - end


	// News Footer - start
	article > footer {
		display: none;
	}
	// News Footer - end

//News Entry - end




