// Wordpress Bar - start
	#wpadminbar {
		display: none;
	}
// Wordpress Bar - end


// Nav Menu - start
	.main-navigation {
		width: 100%;
		height: 100%;
		z-index: 100;
		top: 0;
		right: 0;
		position: fixed;
		background: rgba(255,215,0,.975);
		// display: none;
		transform: translateX(100%);
		transition: transform 0.75s ease;
		overflow: scroll;

		.menu-top {
			border-bottom: .2rem solid #1E582C;
			margin-bottom: .75%;
			padding-bottom: .75%;
		}

		// Menu Typography - start
		.menu-title {
			float: left;
			margin-top: .5rem;
			h1 {
				font-size: 3.2rem;
				color: #2f8d59;
				margin-top: 2rem;
				float: left;
			}
		}

		.menu-items {
			clear: both;
			text-align: center;
			@include navbar;
			a {
				font-size: 3.2rem;
				color: $link;
				transition: all 0.3s;
				position: relative;
				text-decoration: none;
				//Animate underline effect
				&:before {
					content: "";
					position: absolute;
					width: 100%;
					height: .2rem;
					top: 105%;
					left: 0;
					background-color: $hover;
					visibility: hidden;
					-webkit-transform: scaleX(0);
		  			transform: scaleX(0);
		 			-webkit-transition: all 0.3s ease-in-out 0s;
		  			transition: all 0.3s ease-in-out 0s;
				}
				&:hover {
					color: $hover;
				}
				//Animate underline effect
				&:hover:before {
					visibility: visible;
					-webkit-transform: scaleX(1);
				    transform: scaleX(1);
				}
			}

			ul {
				padding: 0;
				li:first-child {
					margin-top:1.75%;
				}
				li {
					padding: 0;
					margin-bottom: 1.75%;
					list-style-type: none;
				}
			}
		}
		// Menu Typography - end
	}

	//reel in menu
	.menu-reel {
	  fill: #1E582C;
	  width: 5rem;
	  margin-top: 1rem;
	  margin-left: .5rem;
	  
	}


	nav.open {
		transform: translateX(0%);
	}
// Nav Menu - end

// Buttons - start
	.wrapper {
		position: fixed;
		top: 1rem;
		z-index: 100;
		width: 100%;
	}

	.menu-button, .exit-button {
		width: 6rem;
		float: right;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
		}
	}

	.exit-button {
		margin-top: 1rem;
	}

	.menu-button {
		
		.menu {
			fill: gold;
			-webkit-filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.35));
			filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.35));
			transition: all 0.3s;
			&:hover {
				fill: $hover;
			}
		}
	}

	.exit-button {
		.close {
			
			fill: darken(mediumseagreen, 10%);
			transition: all 0.3s;
			&:hover {
				fill: #1E582C;
			}
		}
	}
// Buttons - end


// tablet view - start
	@media all and (max-width: 768px) {
		.main-navigation {
			.menu-top {
				margin-bottom: 2.75%;
				padding-bottom: .75%;
			}
			.menu-items {
				ul {
					li:first-child {
						margin-top: 2.5%;
					}
					li {
						margin-bottom: 2.5%;
					}
				}
			}
		}

		.menu-button, .exit-button {
			width: 5rem;
		}

		.menu-reel {
			width: 4rem;
		}
	}
// tablet view - end

// mobile view - start
	@media all and (max-width: 420px) {
		
		.main-navigation {
			.menu-title {
				h1 {
					font-size: 2.2rem;
				}
			}
			.menu-items{
				@include navbar;
				a {
					font-size: 2.2rem;
				}
				ul {
					li:first-child {
						margin-top: 5%;
					}
					li {
						margin-bottom: 5%;
					}
				}
			}
		}
	}
// mobile view - end


// old mobile device view - start
	@media all and (max-height: 480px) {
		.main-navigation {
			.menu-title {
				h1 {
					font-size: 1.8rem;
				}
			}
			.menu-items{
				@include navbar;
				a {
					font-size: 1.8rem;
				}
				ul {
					li:first-child {
						margin-top: 4.75%;
					}
					li {
						margin-bottom: 4.75%;
					}
				}
			}
		}
	}
// old mobile device view - end