// Wordpress Bar - start
	#wpadminbar {
		display: none;
	}
// Wordpress Bar - end


// Nav Menu - start
	.main-navigation {
		width: 100%;
		height: 100%;
		z-index: 100;
		top: 0;
		right: 0;
		position: fixed;
		background: rgba(255,215,0,.95);
		// display: none;
		transform: translateX(100%);
		transition: transform 0.75s ease;
		
		.menu-container {
			display: block;
			width: 50%;
			margin: 0 auto;
			transition: all 0.3s ease;
		}

		.menu-top {
			border-bottom: 2px solid #2f8d59;
			margin-bottom: 20px;
			padding-bottom: 15px;
		}

		.menu-title {
			float: left;
			h1 {
				font-size: 3.2rem;
				color: #2f8d59;
				margin-top: 25px;
			}
		}

		.menu-items {
			clear: both;
			text-align: center;
			
			ul {
				padding: 0;
				li:first-child {
					margin-top:20px;
				}
				li {
					padding: 0;
					margin-bottom: 20px;
					list-style-type: none;
				}
			}
		}
	}


	nav.open {
		transform: translateX(0%);
	}
// Nav Menu - end


// Nav Menu Fonts - start
	.menu-items{
		@include navbar;
		a {
			font-size: 3.8rem;
			color: $link;
			transition: all 0.3s;
			&:hover {
				color: white;
			}
		}
	}
// Nav Menu Fonts - end


	.menu-button, .exit-button {
		width: 50px;
		float: right;
		transition: all 0.3s;
		&:hover {
			cursor: pointer;
		}
	}

	.exit-button {
		margin-top: 10px;
	}

	.menu-button {
		position: fixed;
		top: 10px;
		right: 5%;
		z-index: 100;
		.circle {
			fill: gold;
		}

		.rectangle {
			fill: rgba(47,141,89,0.8);
		}
		&:hover {
			.circle {
				fill: darken(mediumseagreen, 10%);
			}
			.rectangle {
				fill: rgba(255,215,0,0.8)
			}
		}
	}

	.exit-button {
		fill: darken(mediumseagreen, 10%);
		&:hover {
			fill: white;
		}
	}


// Large Screens - start
	
	// @media all and (min-width: 1500px) {
	// 	section#site-menu {
	// 		.menu-container {
	// 			// width: 52.5%;
	// 			width: 400px;
	// 			margin-left: 50px;
	// 		}
	// 	}
	// }

	// @media all and (max-width: 1320px) {
	// 	section#site-menu {
	// 		.menu-container {
	// 			width: 67.5%;
	// 		}
	// 	}
	// }

	// @media all and (max-width: 1200px) {
	// 	section#site-menu {
	// 		.menu-container {
	// 			width: 75%;
	// 		}
	// 	}
	// }

	// @media all and (max-width: 1079px) {
	// 	section#site-menu {
	// 		.menu-container {
	// 			width: 82.5%;
	// 			margin: 0 auto;
	// 		}
	// 	}
	// }
// Large Screens - end


// Tablet View - start
	@media all and (max-width: 790px) {
		.main-navigation {
			transition: all 0.3s ease;
			.menu-container {
				width: 80%;
				margin: 0 auto;
			}
		}
	}
// Tablet View - end

// Mobile View - start
	@media all and (max-width: 515px) {
		.main-navigation {
			overflow: scroll;
			.menu-container {
				width: 90%;
			}
		}
	}

	@media all and (max-height: 575px) {
		
		.main-navigation {
			overflow: scroll;
			.menu-container {
				.home {
					margin-bottom: 12.5px;
				}
				ul > li {
					margin-bottom: 12.5px;
				}
			}
		}
	}
// Mobile View - end