.media-title {
	padding-bottom: 1.8%;
	margin-bottom: 1.8%;	
}

.second-tier-donor {
	flex: 0 0 350px;
}

main.sponsors-partners {
	background-color: #ffffe3;
	h3 {
		padding:0 0 15px;
	}
}
div.container.sponsors-partners-container {
	padding-bottom: 2%;
}
div.big-donor, div.second-tier-donors, div.medium-donors, div.small-donors {
    border-bottom: .2rem solid #004b00;
    img:last-child {
    	padding-bottom: 15px;
    }
	justify-content: center;   
}
div.sponsors-partners-title h2 {
	border-bottom: .2rem solid #004b00;
	padding: 15px 0;
	margin-bottom: 10px;
}
.sponsors-partners-level {
	padding: 0;
}

.sponsors-partners-container p {
	text-align: center;
}

// Responsive - Start
@media (max-width: 1000px) {
	.sponsors-partners div h2 {
		font-size: 5.2rem;
    	line-height: 4.8rem;
	}
}
@media (max-width: 790px) {
	.sponsors-partners div h2 {
		font-size: 3.8rem;
    	line-height: 3.8rem;
	}
}
@media (max-width: 480px) {
	.sponsors-partners div h2 {
		font-size: 3.1rem;
    	line-height: 2.8rem;
	}	
}
// Responsive - End