
.big-donors, .second-tier-donors, .medium-donors, .small-donors {
	display: flex;
	flex-flow: row wrap;
}

.big-donor, .second-tier-donor, .medium-donor {
	flex: 1 0 350px;
	padding-top: 2.75%;
	text-align: center;
	margin: auto;
	&:last-child {
		// padding-bottom: 2.75%;
	}
}

.small-donor {
	flex: 1 0 250px;
	padding-top: 2.5%;
	text-align: center;
	margin: auto;
	&:last-child {
		// padding-bottom: 2.75%;
	}
}

.big-donor {
	img {
		max-width: 100%;
	}
}

.second-tier-donor {
	img {
		max-width: 75%;
	}
}

.medium-donor {
	img {
		max-width: 55%;
	}
}

.small-donor {
	img {
		max-width: 50%;
	}
}

@media all and (max-width: 768px) {
	.big-donor, .second-tier-donor, .medium-donor, .small-donor {
		padding: 2.75%;
		&:last-child {
			padding-bottom: 0;	
		}
	}
}

@media all and (max-width: 480px) {
	.big-donor, .second-tier-donor, .medium-donor {
		flex: 1 0 100%;
	}
}