
.big-donors, .medium-donors, .small-donors {
	display: flex;
	flex-flow: row wrap;
}

.big-donor, .medium-donor, .small-donor {
	flex: 1 0 350px;
	padding: 2.5%;
	text-align: center;
	&:last-child {
		padding-bottom: 0;	
	}
}

.big-donor {
	img {
		max-width: 100%;
	}
}

.medium-donor {
	img {
		max-width: 75%;
	}
}