// Main Typography for entire document - start
	html {
		font-size: 62.5%;
	}

	@media all and (max-width: 480px) {
		html {
			font-size: 50%;
		}
	}

	body {
		color: #333;
	}

	h1,h2,h3,h4,h5,h6,p {
		margin: 0;
		padding: 0;
	}

	h2 {
		@include page-headline;
	}

	p {
		@include page-paragraph;
	}

	// For all anchor-tags - start
		a,a:visited {
			text-decoration: none;
		}
	// For all anchor-tags - end
// Main Typography for entire document - start


// Typography for Film page - start
	.event-info > h4, .live-music > h4 {
		text-align: center;
		font-family: $short;
		text-transform: uppercase;
		font-size: 2.6rem;
		// line-height: 25px;
	}

	.live-music {
		h3 {
			font-family: $feature;
			font-size: 7.5rem;
			text-transform: uppercase;
			text-align: center;
			margin: -10px 0;
		}
		a {
			color: pink;
			&:hover {
				color: blue;
			}
		}
	}

	.feature > h3 {
		@include feature-title;
	}

	.short-film {
		h3{
			@include short-title;
		}
		h4 {
			text-align: center;
			font-family: Rajdhani,sans-serif;
			text-transform: uppercase;
			font-size: 2.6rem;
			margin-top: 2px;
		}
	}

	.date > h4 {
		@include date;
	}

	.shorts > p, .presenting-sponsors > p, .co-presenters > p, .food-vendors > p {
		font-size: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		margin: 0;
		font-weight: 700;
	}

	.show-hide > button {
		text-align: center;
		margin: 0 auto;
		display: block;
		border-radius: 1rem;
		border: 5px solid black;
		background: transparent;
		outline: none;
		font-size: 3.2rem;
		font-family: $short;
		text-transform: uppercase;
		padding: 1rem;
	}

	.show-hide > button:hover {
		background: black;
		color: white;
	}

	.facebook-event {
		@include event;
	}

	.additional-notes {
		p {
			@include page-paragraph;
			font-size: 2rem;
			font-weight: 400;
			// line-height: 40px;
			text-align: center;
		}
		button {
			width: 100%;
			font-size: 2.2rem;
			background: transparent;
			border: 5px solid black;
			padding: 10px;
			border-radius: 10px;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 2.5%;
			outline: none;
			&:hover {
				background: black;
				color: white;
			}
		}
	}
// Typography for Film page - end
	

// Typography for About page - start
	.staff-info {
		margin-top: 2%;
	}

	.staff-name > h3 {
		font-size: 2.5rem;
		line-height: 23px;
		text-transform: capitalize;
		font-family: $main;
		font-weight: 700;
	}

	.staff-title > h4 {
		text-transform: capitalize;
		font-family: $para;
		font-weight: 400;
		font-size: 2rem;
		margin-top: 5px;
		line-height: 20px;
	}

	li.board_member {
		display: list-item;
		font-size: 2.0rem;
		font-family: $para;
		font-weight: 600;
		text-transform: uppercase;
	}
// Typography for About page - end


// Typography for Media page - start
	#year {
		h3 {
			@include page-subheadline
		}

		ul {
			li {
				margin-bottom: 20px;
				padding: 0;
				@include news;
				.name {
					@include news-source;
				}
				a {
					color: #333;
					&:hover {
						color: white;
					}
				}	
			}
			li:last-child {
				margin-bottom: 0;
			}

		}
	}

	@media all and (max-width: 768px) {
		#year {
			h3 {
				text-align: center;
			}
		}
	}
// Typography for Media page - end


// Typography for Sponsors & Partners page - start
	.level h3 {
		@include sponsor-partner;
	}
// Typography for Sponsors & Partners page - end


// Typography for Volunteer page - start
	.volunteer-message p {
		text-align: center;
	}

	.volunteer-buttons {
		button {
			width: 100%;
			font-size: 2.2rem;
			background: transparent;
			border: 5px solid black;
			padding: 10px;
			border-radius: 10px;
			text-transform: uppercase;
			font-weight: 700;
			margin-top: 2.5%;
			&:hover {
				background: black;
				color: white;
			}
			&:first-child {
				margin-top: 0;
			}
		}
	}

	.volunteer-question label{
		@include page-paragraph;
		font-weight: 700;
	}

	input.volunteer-field {
		display: block;
		border-radius: 5px;
		width: 100%;
		font-size: 1.6rem;
		padding: 5px;
		@include page-paragraph;
		outline: none;
		border: none;
		margin-top: .5%;
		background: lightgreen;
	}

	#volunteer-thank {
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin: 2.5%;
		font-family: $main;
		font-size: 3rem;
	}
// Typography for Volunteer page - end


// Typography for Gallery page - start
	#design {
		h3 {
			@include page-subheadline;
			text-align: center;
		}
		h4 {
			@include page-subheadline;
			text-align: center;
			font-size: 2.4rem;
			text-transform: uppercase;
		}
	}
// Typography for Gallery page - end


// Typography for Old + New posts - start
	.alignleft, .alignright {
		font-family: $main;
		font-weight: 400;
		text-transform: capitalize;
		font-size: 1.2rem;
		a {
			color: $link;
			transition: all 0.3s;
			&:hover {
				color: darken( $hover, 10% );
			}
		}
	}

	.entry-content {
		font-size: 1.6rem;
		font-family: 'Open Sans', sans-serif;
	}
// Typography for Old + New posts - end