// Variables - Start
	$main-green: darken(darkgreen, 5% );
	
	// font family - start
		$main: 'Montserrat', sans-serif;
		$para: 'Open Sans', sans-serif;
	// font family - end
	
	// font color - start
		$link: darken(mediumseagreen, 10%);
		$hover: #1E582C;
	// font color - end
// Variables - end


//mixins - start
	@mixin navbar {
		font-family: $main;
		font-weight: 700;
	}

	@mixin page-headline {
		color: #333;
		font-family: $main;
		text-transform: capitalize;
		font-size: 4.2rem;
		text-align: center;
	}

	@mixin page-paragraph {
		color: #333;
		font-family: $para;
		font-size: 1.6rem;
	}

//mixins - end