// Variables - Start
	$main-green: darken(darkgreen, 5% );
	
	// font family - start
		$main: 'Montserrat', sans-serif;
		$para: 'Open Sans', sans-serif;
		$feature: 'Voltaire', sans-serif;
		$short: 'Rajdhani', sans-serif;
	// font family - end
	
	// font color - start
		$link: darken(mediumseagreen, 10%);
		$hover: #1E582C;
	// font color - end
// Variables - end


//mixins - start
	@mixin navbar {
		font-family: $main;
		font-weight: 700;
	}

	@mixin page-headline {
		color: #333;
		font-family: $main;
		text-transform: capitalize;
		font-size: 4.2rem;
		line-height: 38px;
		text-align: center;
	}

	@mixin page-paragraph {
		color: #333;
		font-family: $para;
		font-size: 1.6rem;
	}

	@mixin feature-title {
		color: #333;
		font-family: $feature;
		font-size: 9rem;
		text-align: center;
		text-transform: uppercase;
		line-height: 75px;
	}

	@mixin short-title {
		font-family: $feature;
		font-size: 5rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		line-height: 45px;
	}

	@mixin date {
		font-family: $short;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		font-weight: 600;
		line-height: 25px;
	}

	@mixin event {
		font-family: $short;
		text-align: center;
		text-transform: uppercase;
	}

	@mixin year {
		font-family: $main;
		font-size: 3.7rem;
		font-weight: 700;	
	}

	@mixin news-source {
		font-family: $para;
		font-size: 2.1rem;
		line-height: 21px;
		font-weight: 700;
		text-transform: uppercase;
	}

	@mixin news {
		font-family: $para;
		font-size: 1.9rem;
		line-height: 21px;
	}

//mixins - end