// Variables - Start
	$main-green: darken(darkgreen, 5% );
	
	// font family - start
		$main: 'Montserrat', sans-serif;
		$para: 'Open Sans', sans-serif;
		$feature: 'Voltaire', sans-serif;
		$feature: 'Rajdhani', sans-serif;
		$short: 'Rajdhani', sans-serif;
	// font family - end
	
	// font color - start
		$link: darken(mediumseagreen, 5%);
		$hover: #1E582C;
	// font color - end
// Variables - end


//mixins - start
	@mixin navbar {
		font-family: $main;
		font-weight: 700;
	}

	@mixin page-headline {
		color: darken(darkgreen, 7.5%);
		font-family: $main;
		text-transform: capitalize;
		font-size: 4.2rem;
		line-height: 3.8rem;
		text-align: center;
		padding-top: 2%;
	}

	@mixin page-paragraph {
		font-family: $para;
		font-size: 1.6rem;
	}

	@mixin feature-title {
		font-family: $feature;
		font-size: 8.5rem;
		text-align: center;
		text-transform: uppercase;
		line-height: 8.25rem;
	}

	@mixin short-title {
		font-family: $feature;
		font-size: 5rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: 700;
		line-height: 4.5rem;
	}

	@mixin date {
		font-family: $short;
		font-size: 3rem;
		text-transform: uppercase;
		text-align: center;
		font-weight: 600;
		line-height: 2.5rem;
	}

	@mixin event {
		font-family: $short;
		text-align: center;
		text-transform: uppercase;
	}

	@mixin page-subheadline {
		font-family: $main;
		font-size: 3.4rem;
		font-weight: 700;	
	}

	@mixin news-source {
		font-family: $para;
		font-size: 2.1rem;
		line-height: 2.1rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	@mixin news {
		font-family: $para;
		font-size: 1.9rem;
		line-height: 2.1rem;
	}

	@mixin sponsor-partner {
		font-family: $main;
		text-transform: capitalize;
		font-size: 2.6rem;
		font-weight: 700;
		text-align: center;
	}

//mixins - end