// Post-Submit Message - start
	#volunteer-thank {
		display:none;
	}
// Post-Submit Message - end

.volunteer-radio {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}

.volunteer-button {
	flex: 1 0 100px;
	text-align: center;
}

.volunteer-name, .volunteer-communication{
	display: flex;
	flex-flow: row wrap;
}

.volunteer-name, .volunteer-communication, .volunteer-multichoice, .volunteer-skill{
	margin: 2.75% 0;
}

.volunteer-name {
	margin-top: 1.5%;
}

.first-name, .last-name, .e-mail, .phone {
	flex: 1 0 384px;
}

.first-name, .e-mail {
	padding-right: 1%;
}
.last-name, .phone, {
	padding-left: 1%;
}

[type="radio"] {
	border: 0; 
	clip: rect(0 0 0 0); 
	height: 1px; margin: -1px; 
	overflow: hidden; 
	padding: 0; 
	position: absolute; 
	width: 1px;
}

[type="radio"] + span::before {
	content: '';
	display: inline-block;
	width: 2rem;
	height: 2rem;
	vertical-align: -0.25em;
	border-radius: 1em;
	border: 0.125em solid white;
	box-shadow: 0 0 0 0.15em white;
	margin-right: 0.75em;
	background: white;
	transition: 0.3s ease all;
}

[type="radio"]:checked + span::before {
	background: $hover;
	box-shadow: 0 0 0 0.25em $hover;
}

// [type="radio"]:focus + span::after {
// 	content: '\0020\2190';
// 	font-size: 1.5em;
// 	line-height: 1;
// 	vertical-align: -0.125em;
// }

@media all and (max-width: 768px) {
	.first-name, .last-name, .e-mail, .phone {
		flex: 1 0 100%;
	}

	.volunteer-question, .volunteer-submit, .volunteer-reset {
	  margin: 1% 0;
	}

	.volunteer-buttons {
		button:first-child {
			margin-top: 2.75%;
		}
	}

	.first-name, .e-mail {
		padding-right: 0;
	}
	.last-name, .phone, {
		padding-left: 0;
	}

	.volunteer-name, .volunteer-communication, .volunteer-multichoice, .volunteer-skill {
		margin: 0;
	}
}